$heading-font-family: 'Assistant', sans-serif;
$heading-alt-font-family: 'Assistant', sans-serif;
$body-font-family: 'Assistant', sans-serif;

$font-size-desktop: 15px;
$font-size-mobile: 15px;
$line-height: 30px;

$color-brand: #6f2b90;
$color-accent: #7fc241;
$color-accent-2: #6f2b90;
$color-accent-3: #633D79;
$color-accent-4: #665271;

$color-arts: #ED3237;
$color-coaching: #4C4C4C;

$color-bright: #ffffff;
$color-dark: #333333;
$color-off-white: #F7EBFF;
$color-light: #F7EBFF;
$color-gray: #B1B1B1;
$color-light-gray: #ECEBE8;

$color-highlight: $color-accent;
$color-cta: $color-accent;
$color-danger: #8b0000;
$color-cream: #FFEDA4;

$color-body-bg: #ffffff;
$color-body-text: $color-dark;
$color-heading: $color-brand;
$color-alt-heading: $color-brand;
$color-link: $color-accent;
$color-navigation: $color-brand;

$border-radius: 3px;

// $icons: sprite-map("icons/*.png"); // contains icons/new.png among others.
