$heading-font-family: 'helveticaregular';
$heading-alt-font-family: 'helveticaregular';
$body-font-family: 'helveticaregular';

$font-size-desktop: 16px;
$font-size-mobile: 14px;
$line-height: 30px;

// $color-brand: #F2BD55;
$color-brand: #FFA200;
$color-brand-2: #FFA200;
$color-accent: #35424B;
$color-accent-2: #F9F9F9;
$color-accent-3: #333333;
$color-accent-4: #303030;

$color-arts: #ED3237;
$color-coaching: #222222;

$color-bright: #ffffff;
$color-dark: #222222;
$color-dark-2: #008282;
$color-thick-dark: #000000;
$color-off-white: #F8F8F8;
$color-light: #F3F3F3;
$color-gray: #B1B1B1;
$color-gray-2: #797979;
$color-light-gray: #ECEBE8;

$color-highlight: $color-accent;
$color-cta: $color-accent;
$color-danger: #8b0000;
$color-cream: #FFEDA4;

$color-body-bg: #ffffff;
$color-body-text: $color-dark;
$color-heading: $color-brand;
$color-alt-heading: $color-brand;
$color-link: $color-accent;
$color-navigation: $color-brand;

$border-radius: 3px;

// $icons: sprite-map("icons/*.png"); // contains icons/new.png among others.
